@font-face {
  font-family: ShareTech-Regular;
  src: url("./fonts/Kayak\ Sans\ Regular.otf");
}

h1 {
  color: #ffffff;
  margin-top: 25%;
  margin-bottom: 60px;
  font-family: ShareTech-Regular;
  font-style: normal;
}

div {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

input {
  width: 65%;
  margin: 10px;
  padding: 18px 10px;
  border-radius: 10px;
  font-size: 18px;
  font-family: ShareTech-Regular;
  font-style: normal;
  border: none;
}

.searchButton {
  font-family: ShareTech-Regular;
  font-style: normal;
  border-radius: 10px;
  font-size: 18px;
  color: white;
  background: linear-gradient(264.14deg, #EF9FCB 0%, #F54CEE 47.25%, #716BFB 92.7%);
  width: 120px;
  height: 57px;
  border: none;
}

.results {
    margin-top: 2%;
}